<div class="task" [ngClass]="{done : task?.status}" >
    <div class="task-left">
      <input class="task-text" type="text" [(ngModel)]="text" name="text" >
    </div>
    <div class="task-left">
      <button *ngIf="task?.text != text" type="button" class="btn btn-danger" (click)="undo()">X</button>
      <button *ngIf="task?.text != text" type="button" class="btn btn-warning" (click)="updateTask()" >Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask()">Delete</button>
      <button type="button" class="btn" [ngClass]="task?.status ? 'btn-dark' : 'btn-success'" (click)="doneTask()" >{{ task?.status ? 'Undone' : 'Done' }}</button>
    </div>
</div>